In [32]:
import pandas as pd

In [39]:
data = {
    'Localização':['CidadeA','CidadeB'],
    'Temperatura':['Prevista','Atual'],
    'Set-2019':[30,32],
    'Out-2019':[45,43],
    'Nov-2019':[24,22]}

In [40]:
print(data)

{'Localização': ['CidadeA', 'CidadeB'], 'Temperatura': ['Prevista', 'Atual'], 'Set-2019': [30, 32], 'Out-2019': [45, 43], 'Nov-2019': [24, 22]}

# converte pra colunas

In [41]:
#df = pd.DataFrame(data,columns=['Localização','Temperatura','Set-2019','Out-2019','Nov-2019'])
#print(df)

In [44]:
#df = pd.melt(df,id_vars=["Localização","Temperatura"], var_name="Date",value_name='Value')
#print(df)

# Mudando nome dos df

In [43]:
df = pd.melt(df,id_vars=["Localização"], var_name="Date",value_name='Value')
print(df)

   Localização   Date        Value
0      CidadeA   Date  Temperatura
1      CidadeB   Date  Temperatura
2      CidadeA   Date  Temperatura
3      CidadeB   Date  Temperatura
4      CidadeA   Date  Temperatura
5      CidadeB   Date  Temperatura
6      CidadeA   Date         Date
7      CidadeB   Date         Date
8      CidadeA   Date         Date
9      CidadeB   Date         Date
10     CidadeA   Date         Date
11     CidadeB   Date         Date
12     CidadeA   Date        Value
13     CidadeB   Date        Value
14     CidadeA   Date        Value
15     CidadeB   Date        Value
16     CidadeA   Date        Value
17     CidadeB   Date        Value
18     CidadeA  Value     Prevista
19     CidadeB  Value        Atual
20     CidadeA  Value     Prevista
21     CidadeB  Value        Atual
22     CidadeA  Value     Prevista
23     CidadeB  Value        Atual
24     CidadeA  Value     Set-2019
25     CidadeB  Value     Set-2019
26     CidadeA  Value     Out-2019
27     CidadeB  Value     Out-2019
28     CidadeA  Value     Nov-2019
29     CidadeB  Value     Nov-2019
30     CidadeA  Value           30
31     CidadeB  Value           32
32     CidadeA  Value           45
33     CidadeB  Value           43
34     CidadeA  Value           24
35     CidadeB  Value           22

C:\Users\Home\AppData\Local\Temp\ipykernel_1036\483451013.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df = pd.melt(df,id_vars=["Localização"], var_name="Date",value_name='Value')