In [2]:
import pandas as pd
import numpy as np

# Reshaping Reformualar os dados

In [3]:
datas = pd.date_range('20200101',periods=6)

df1 = pd.DataFrame(np.random.randn(6,4), index=datas, columns=['Var_A','Var_B','Var_C','Var_D'])

In [4]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01 -2.190322  0.721334  0.285965  0.111340
2020-01-02 -0.021508  1.021150  0.612305  0.124988
2020-01-03  0.460089 -0.543911  0.727650  0.038319
2020-01-04 -0.412609  0.845489 -0.597168 -0.625514
2020-01-05  2.039059 -0.327856 -1.400299 -0.662863
2020-01-06 -1.284123  0.095327  0.297559  1.461803

In [5]:
df.T

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A   -2.190322   -0.021508    0.460089   -0.412609    2.039059   -1.284123
Var_B    0.721334    1.021150   -0.543911    0.845489   -0.327856    0.095327
Var_C    0.285965    0.612305    0.727650   -0.597168   -1.400299    0.297559
Var_D    0.111340    0.124988    0.038319   -0.625514   -0.662863    1.461803

In [6]:
dft = df.T

In [7]:
df.shape

(6, 4)

In [13]:
df.values

array([[-2.19032156,  0.72133383,  0.28596486,  0.11134041],
       [-0.02150837,  1.02114959,  0.61230544,  0.12498834],
       [ 0.4600886 , -0.54391093,  0.72764997,  0.03831874],
       [-0.41260865,  0.84548917, -0.59716821, -0.62551412],
       [ 2.0390585 , -0.32785632, -1.4002985 , -0.66286267],
       [-1.28412327,  0.0953271 ,  0.29755915,  1.46180285]])

In [14]:
v =df

In [16]:
v.reshape((4,12))

AttributeError: 'DataFrame' object has no attribute 'reshape'