#Aula1

#Importando Bibliotecas

In [56]:
import pandas as pd
import numpy as np

#Criando Series

In [16]:
series = pd.Series([7,4,3,np.nan,6,9])

In [17]:
series

0    7.0
1    4.0
2    3.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [18]:
type(series)# tipo da serie

pandas.core.series.Series

#Criando datas aleatorias

In [21]:
#datas = pd.date_range("20201021",periods =6)

In [22]:
#datas

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [25]:
datas1 = pd.date_range("20200917",periods = 8)

In [26]:
datas1

DatetimeIndex(['2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20',
               '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24'],
              dtype='datetime64[ns]', freq='D')

In [28]:
?pd.date_range()

Object `pd.date_range()` not found.

#Datas com periodo de 6  variado por mes

In [31]:
datam = pd.date_range("19891204",periods = 6 ,freq = "M")

In [32]:
datam

DatetimeIndex(['1989-12-31', '1990-01-31', '1990-02-28', '1990-03-31',
               '1990-04-30', '1990-05-31'],
              dtype='datetime64[ns]', freq='M')

In [35]:
type(datas)

pandas.core.indexes.datetimes.DatetimeIndex

#Aula2

#Criando dados Aleátorio

In [39]:
datas = pd.date_range("20171003", periods = 6)

In [41]:
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))

In [42]:
df

                   A         B         C         D
2017-10-03 -0.452354 -0.268241 -0.697488 -0.426005
2017-10-04  0.942594 -0.789401  0.450657 -0.158638
2017-10-05  0.865348  1.611511 -0.969963 -0.062278
2017-10-06 -0.183115 -0.135332  0.865341 -0.667306
2017-10-07 -0.878601  0.091379  2.111202 -1.121957
2017-10-08 -1.061279 -2.467191  0.287309  0.073029

In [43]:
#Gerando Array 6.4 Aleatorios
df2 = pd.DataFrame(np.random.randn(6,4), index = datas, columns = ["Carros","Países","Pessoas","Python"])

In [44]:
df2

              Carros    Países   Pessoas    Python
2017-10-03  1.474793  0.877648 -0.382591 -0.584400
2017-10-04  1.088853  0.099471  0.827784  0.207910
2017-10-05  0.827254  1.001326  1.749845  0.592949
2017-10-06  0.054435  1.175828 -0.716441  0.484726
2017-10-07 -0.585998 -0.534499  0.051929 -2.035096
2017-10-08 -0.298020 -0.599972  0.561324  0.234599

In [45]:
type(df)

pandas.core.frame.DataFrame

In [59]:
df3 = pd.DataFrame({"A":7,
                  "B": pd.Timestamp('20190101'),
                  "C": pd.Series(1, index=list(range(4)), dtype='float32'),
                  "D": np.array([3] * 4, dtype='int32' ),
                  "E": pd.Categorical(["test","train","test","train"]),
                  "F": "Python" })

In [60]:
df3

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [65]:
df3.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

#Aula3